---
import Layout from '../layouts/Layout.astro';
import LoginForm from '../components/LoginForm.jsx';
---

<Layout title="Acceso - Visitas Empresa">
  <main class="min-h-screen w-full flex items-start justify-center pt-40 bg-[#050505] relative overflow-hidden">
    
    <div class="absolute top-[-10%] left-[-10%] w-[500px] h-[500px] bg-neon-blue/10 rounded-full blur-[120px] pointer-events-none"></div>
    <div class="absolute bottom-[-10%] right-[-10%] w-[500px] h-[500px] bg-neon-purple/10 rounded-full blur-[120px] pointer-events-none"></div>

    <div class="z-10 w-full px-4"> 
        <LoginForm client:load />
    </div>

  </main>
</Layout>